<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Properties>
		<Property name="mainPatternLayout">%d{HH:mm:ss.SSS} [%-15t] %-5level %-26C{1} - %msg%n
		</Property>
	</Properties>

	<Appenders>
		<Console name="Console">
			<PatternLayout pattern="${mainPatternLayout}" />
		</Console>
		<RollingFile name="realtyLog" fileName="logs/realty_app.log"
			filePattern="logs/$${date:yyyy-MM-dd}/realty_app_%d{yyyyMMdd-HH}-%i.log"
			append="true">
			<PatternLayout pattern="${mainPatternLayout}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="32 MB" />
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingFile>

		<RollingFile name="searchPageProcessorLog" fileName="logs/searchProcessor.log"
			filePattern="logs/$${date:yyyy-MM-dd}/searchProcessor_%d{yyyyMMdd-HH}-%i.log"
			append="true">
			<PatternLayout pattern="${mainPatternLayout}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="32 MB" />
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingFile>

		<RollingFile name="adsExtractorLog" fileName="logs/adsExtractor.log"
			filePattern="logs/$${date:yyyy-MM-dd}/adsExtractor_%d{yyyyMMdd-HH}-%i.log"
			append="true">
			<PatternLayout pattern="${mainPatternLayout}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="32 MB" />
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingFile>

		<RollingFile name="xlsReporterLog" fileName="logs/xlsReporter.log"
			filePattern="logs/$${date:yyyy-MM-dd}/xlsReporter_%d{yyyyMMdd-HH}-%i.log"
			append="true">
			<PatternLayout pattern="${mainPatternLayout}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="32 MB" />
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingFile>

		<RollingFile name="errorLog" fileName="logs/error.log"
			filePattern="logs/$${date:yyyy-MM-dd}/error_%d{yyyyMMdd-HH}-%i.log"
			append="true">
			<PatternLayout pattern="${mainPatternLayout}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="32 MB" />
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingFile>
		
		<RollingFile name="debugLog" fileName="logs/debug.log"
			filePattern="logs/$${date:yyyy-MM-dd}/debug_%d{yyyyMMdd-HH}-%i.log"
			append="true">
			<PatternLayout pattern="${mainPatternLayout}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="32 MB" />
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingFile>		

	</Appenders>
	<Loggers>
	
		<Root level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="realtyLog" />
		</Root>
		<Logger name="com.idealista.scraper">
			<appender-ref ref="errorLog" level="error"/>
		</Logger>	
		<Logger name="com.idealista.scraper.page.SearchPageProcessor" level="info">
			<appender-ref ref="searchPageProcessorLog" level="info"/>
		</Logger>
		<Logger name="com.idealista.scraper.page.AdvertismentExtractor" level="info">
			<appender-ref ref="adsExtractorLog" level="info"/>
		</Logger>
		<Logger name="com.idealista.scraper.xls.XlsExporter" level="info" >
			<appender-ref ref="xlsReporterLog" level="info"/>
		</Logger>
		<Logger name="com.idealista.scraper.webdriver.NavigateActions" level="debug" additivity="false">
			<appender-ref ref="debugLog" />
		</Logger>
		<Logger name="com.idealista.scraper.ui" level="debug" additivity="false">
			<appender-ref ref="debugLog" />			
		</Logger>	
		<Logger name="com.idealista.scraper.ui" level="info" additivity="false">
			<appender-ref ref="realtyLog" />
			<AppenderRef ref="Console" />			
		</Logger>	

	</Loggers>
</Configuration>